#org-eclipse-ui-splash-progressText {
  color: #ffffff;
}

#org-eclipse-ui-splash-progressPart {
  background-image: url('me-custom:/platform:/plugin/org.eclipse.epp.package.committers/splash.bmp');
}