<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
 <extension
       point="org.eclipse.ui.commands">
       <command
            defaultHandler="tregression.handler.EvaluationTrialHandler"
            id="tregression.command.evaluateTrial"
            name="Run Regression for Trial">
      </command>
       <command
             defaultHandler="tregression.handler.EvaluationTestCaseHandler"
             id="tregression.command.evaluateTestCase"
             name="Run Regression for Test Case">
       </command>
       <command
             defaultHandler="tregression.handler.EvaluationAllHandler"
             id="tregression.command.evaluateAll"
             name="Run Regression for All">
       </command>
       <command
             defaultHandler="tregression.handler.SeparateVersionHandler"
             id="tregression.command.runSeparateVersions"
             name="Run for Separate Versions">
       </command>
       <command
             defaultHandler="tregression.handler.AllDefects4jHandler"
             id="tregression.command.runAllDefects4jProjects"
             name="Run All Defects4j Projects">
       </command>
       <command
             defaultHandler="tregression.handler.RegressionRetrieveHandler"
             id="tregression.command.retrieveRegression"
             name="Retrieve the Bug from exec file">
       </command>
       <command
             defaultHandler="tregression.handler.RetrieveAllDefect4jRegressionsHandler"
             id="tregression.command.retrieveAllDefect4jRegression"
             name="Retrieve All Defect4j Regressions">
       </command>
       <command
             defaultHandler="traceagent.handler.RunAllDefects4jHandler"
             id="traceagent.command.runAllDefects4jBugs"
             name="Run All Defect4j Bugs">
       </command>
       <command
             defaultHandler="traceagent.handler.RunSingleTestcaseHandler"
             id="traceagent.command.runSingleDefects4jBugs"
             name="Run Single Defect4j Bug">
       </command>
 </extension>	
 <extension
         point="org.eclipse.ui.views">
      <category
            id="tregression.category"
            name="Tregression">
      </category>
      <view
            category="tregression.category"
            class="tregression.views.CorrectTraceView"
            icon="icons/check_mark.png"
            id="tregression.evalView.correctTraceView"
            name="Correct Trace"
            restorable="true">
      </view>
      <view
            category="tregression.category"
            class="tregression.views.BuggyTraceView"
            icon="icons/cross_mark.png"
            id="tregression.evalView.buggyTraceView"
            name="Buggy Trace"
            restorable="true">
      </view>
      <view
            category="tregression.category"
            class="tregression.views.StepPropertyView"
            icon="icons/property.png"
            id="tregression.view.stepProperty"
            name="Step Properties"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="tregression.perspectives.TraceComparisonPerspective"
            icon="icons/trace_comparison.png"
            id="tregression.perspective.traceChecking"
            name="Trace Comparison">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="menu:org.eclipse.ui.main.menu">
         <menu label="Tregression">
            <command
                     commandId="tregression.command.evaluateTrial"
                     icon="icons/evaluation.png"
                     label="Trial"
                     style="push">
            </command>
            <command
                  commandId="tregression.command.evaluateTestCase"
                  icon="icons/evaluation.png"
                  label="Test Case"
                  style="push">
            </command>
            <command
                  commandId="tregression.command.evaluateAll"
                  icon="icons/evaluation.png"
                  label="Evaluate All"
                  style="push">
            </command>
            <command
                  commandId="tregression.command.runSeparateVersions"
                  icon="icons/trace_comparison.png"
                  label="Run for Separate Versions"
                  style="push">
            </command>
            <command
                  commandId="tregression.command.runAllDefects4jProjects"
                  label="Run All Defects4j Projects"
                  style="push">
            </command>
            <command
                  commandId="tregression.command.retrieveRegression"
                  label="Retrieve the Bug from DB"
                  style="push">
            </command>
            <command
                  commandId="tregression.command.retrieveAllDefect4jRegression"
                  label="Retrieve All Defect4j Regressions"
                  style="push">
            </command>
         </menu>
         <menu
               label="Trace Agent">
            <command
                  commandId="traceagent.command.runAllDefects4jBugs"
                  label="Run All Defects4j"
                  style="push">
            </command>
            <command
                  commandId="traceagent.command.runSingleDefects4jBugs"
                  label="Run Single Testcase"
                  style="push">
            </command>
         </menu>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="toolbar:org.eclipse.ui.main.toolbar">
         <toolbar
               id="tregression.toolbar">
            <command
                  commandId="tregression.command.runSeparateVersions"
                  icon="icons/trace_comparison.png"
                  label="Run for Separate Versions"
                  style="push">
            </command>
            <command
                  commandId="tregression.command.retrieveRegression"
                  icon="icons/recover.png"
                  label="Recover Trace"
                  style="push">
            </command>
         </toolbar>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="tregression.editors.CompareEditor"
            default="false"
            extensions=".java"
            icon="icons/compare.png"
            id="tregression.editor.compare"
            name="Compare">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.editors.documentProviders">
      <provider
            class="org.eclipse.ui.editors.text.TextFileDocumentProvider"
            id="org.eclipse.ui.editors.text.StorageDocumentProvider"
            inputTypes="org.eclipse.ui.IStorageEditorInput">
      </provider>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="tregression.preference.TregressionPreference"
            id="tregression.preference"
            name="Tregression (Defects4j)">
      </page>
   </extension>

</plugin>
